{% extends "base.html" %}
{% block content %}
<div class="admin-panel">
    <h2>Admin Dashboard</h2>
    <div class="options">
        <h3>Manage Profile</h3>
       
        <a class="btn" href="{{ url_for('profile' , user_id=session['id']) }}">Edit Profile</a>  
        <a class="btn" href="{{ url_for('change_psw' , user_id=session['id']) }}">Change Password</a>
    </div>
    <div class="options">
        <h3>Manage Users</h3>
 
        <a class="btn" href="{{ url_for('user_list')}}">View/Update/Delete Users</a>
        <a class="btn" href="{{ url_for('add_user')}}">Add  User</a>
    </div>
    <div class="options">
        <h3>Manage Pest/Disease Guide</h3>
       
        <a class="btn" href="{{ url_for('homepage')}}">View/Update/Delete Guide</a>
        <a class="btn" href="{{ url_for('add_pest')}}">Add Guide</a>

    </div>
</div>
{% endblock %}
