{% extends "base.html" %}
{% block content %}
<div class="admin-panel">
    <h2>Admin Panel</h2>
    <div class="options">
        <h3>Manage Profile</h3>
       
        <button>Edit Profile</button>
        <button>Change Password</button>
    </div>
    <div class="options">
        <h3>Manage River Users</h3>
 
        <button>View River Users</button>
        <button>Add River User</button>
        <button>Update River User</button>
        <button>Delete River User</button>
    </div>
    <div class="options">
        <h3>Manage Staff</h3>
      
        <button>View Staff</button>
        <button>Add Staff</button>
        <button>Update Staff</button>
        <button>Delete Staff</button>
    </div>
    <div class="options">
        <h3>Manage Guide</h3>
       
        <button>View Guide</button>
        <button>Add Guide</button>
        <button>Update Guide</button>
        <button>Delete Guide</button>
    </div>
</div>
{% endblock %}
