{% extends "base.html" %}
{% block content %}
		<div class="register">
			<h1>Change password</h1>
			<h2 style="text-align: center;">The user name is: {{user[1]}}</h2>
			
			<form action="/update_psw/{{session['id']}} " method="post" autocomplete="off">
				

				<label for="password">
					<i class="fas fa-lock"></i>
				</label>
				<input type="password" name="password" placeholder="New Password" id="password" required>
				
                <label for="password2">
					<i class="fas fa-lock"></i>
				</label>
				<input type="password" name="password2" placeholder="Input new password again" id="password2" required>
				

				<div class="msg">{{ msg }}</div>
				<input type="submit" value="Change password">
			</form>
		</div>
		{% endblock %}