{% extends "base.html" %}

{% block content %}
<section>
    <h2>Freshwater Pest and Disease Guide</h2>

    <!-- Present in NZ -->
    <h3>Present in New Zealand</h3>
    <div class="row">
        {% for pest in present_in_nz %}
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ pest.common_name }}</h4>
                    <p class="card-text">Scientific Name: {{ pest.scientific_name }}</p>
                    <p class="card-text">Key Characteristics: {{ pest.key_characteristics }}</p>
                    <p class="card-text">Biology/Description: {{ pest.biology_description }}</p>
                    <p class="card-text">Impacts: {{ pest.impacts }}</p>
                    <p class="card-text">Present in NZ: Yes</p>
                    <!-- Include primary image here -->
                    <img src="{{ pest.primary_image }}" alt="Primary Image" class="img-fluid">
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Not Present in NZ -->
    <h3>Not Present in New Zealand</h3>
    <div class="row">
        {% for pest in not_present_in_nz %}
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ pest.common_name }}</h4>
                    <p class="card-text">Scientific Name: {{ pest.scientific_name }}</p>
                    <p class="card-text">Key Characteristics: {{ pest.key_characteristics }}</p>
                    <p class="card-text">Biology/Description: {{ pest.biology_description }}</p>
                    <p class="card-text">Impacts: {{ pest.impacts }}</p>
                    <p class="card-text">Present in NZ: No</p>
                    <!-- Include primary image here -->
                    <img src="{{ pest.primary_image }}" alt="Primary Image" class="img-fluid">
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
