<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freshwater Pest and Disease Guide</title>
</head>
<body>
    <h2>Freshwater Pests/Diseases Present in New Zealand</h2>
    <ul>
        <li>Koi Carp</li>
        <li>Didymo (Rock Snot)</li>
        <li>Brown Trout Disease</li>
        <li>Lake Snow</li>
        <li>Lagarosiphon</li>
        <li>Egeria</li>
        <li>Catfish</li>
        <li>Gambusia</li>
        <li>Hydrilla</li>
        <li>Oxygen Weed</li>
        <li>Freshwater Snails</li>
        <li>Freshwater Shrimp</li>
    </ul>

    <h2>Freshwater Pests/Diseases Not Present in New Zealand</h2>
    <ul>
        <li>Nile Perch</li>
        <li>Water Hyacinth</li>
        <li>Water Lettuce</li>
        <li>Salvinia</li>
        <li>African Clawed Frog</li>
        <li>Red-eared Slider</li>
        <li>American Bullfrog</li>
        <li>Zebra Mussels</li>
    </ul>
</body>
</html>
 