{% extends "base.html" %}
{% block content %}

<style>
  .table-container {
    margin: 0 auto; /* 水平居中 */
    text-align: center; /* 让内容居中 */
  }
  
  .table-container .row {
    margin-bottom: 20px; /* 增加行间距 */
  }
</style>
<!-- {{session['id']}}
{{session['role']}} -->

  {% if session.get('id') %}
  <h2 class="text-center mt-5">List of Freshwater Pests and Diseases</h2>

  <div class="table-container">
    {% for pest in allpests %}
    <div class="row">
      <div class="col">
        <strong>ID:</strong> {{ pest[0] }}       
        <strong>Type:</strong> {{ pest[1] }}  
        <strong>In NZ:</strong> {{ pest[2] }} 
        <strong>Common Name:</strong> {{ pest[3] }}
        <strong>Scientific Name:</strong> {{ pest[4] }}
        <a href="{{ url_for('view_pest', pest_id=pest[0]) }}" class="btn btn-primary">View details</a>
      </div>
    </div>
    {% endfor %}
  </div>
  
  {% if session.get('role') == 'admin' or session.get('role') == 'staff' %}
  <div class="text-center mt-3">
    <p><a href="{{ url_for('add_pest') }}" class="btn btn-big">Add a new record</a></p>
  </div>
  {% endif %}

  {% else %}
  <p class="text-center">You haven't logged in, please login or register first.</p>
  <div class="text-center">
    <a href="{{ url_for('login') }}" class="btn btn-primary">LOGIN/REGISTER</a>
  </div>
  {% endif %}
</div>

{% endblock %}
