{% extends "base.html" %}

{% block content %}

<div class="admin-panel">
    <h2>Staff Panel</h2>
    <div class="options">
        <h3>Manage Your Profile</h3>
       
        <a class="btn" href="{{ url_for('profile' , user_id=session['id']) }}">Edit Profile</a>  
        <a class="btn" href="{{ url_for('change_psw' , user_id=session['id']) }}">Change Password</a>
    </div>
    <div class="options">
        <h3>Manage River Users</h3>
 
        <a class="btn" href="{{ url_for('user_list')}}">View River Users</a>
    </div>
    <div class="options">
        <h3>Manage Guide</h3>
       
        <a class="btn" href="{{ url_for('homepage')}}">View/Update/Delete Guide</a>
        <a class="btn" href="{{ url_for('add_pest')}}">Add Guide</a>

    </div>
</div>
{% endblock %}
