<!-- pest_details.html -->

{% extends "base.html" %}
{% block content %}
        
<a class="btn" href="{{ url_for('homepage') }}">Back to home</a>


  <h2>Pest/Disease Details</h2>
  <!-- {{pest}} -->

  <div class="card mb-3">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-row">
            <label class="form-label">ID:</label>
            <span style="font-weight: bold;">{{ pest[0] }}</span>
          </div>
          <div class="form-row">
            <label class="form-label">Type:</label>
            <span style="font-weight: bold;">{{ pest[1] }}</span>
          </div>
          <div class="form-row">
            <label class="form-label">In NZ:</label>
            <span style="font-weight: bold;">{{ pest[2] }}</span>
          </div>
          <div class="form-row">
            <label class="form-label">Common Name:</label>
            <span style="font-weight: bold;">{{ pest[3] }}</span>
          </div>
          <div class="form-row">
            <label class="form-label">Scientific Name:</label>
            <span style="font-weight: bold;">{{ pest[4] }}</span>
          </div>
          <div class="form-row">
            <label class="form-label">Key Characteristics:</label>
            <p style="font-weight: bold;">{{ pest[5] }}</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-row">
            <label class="form-label">Biology/Description:</label>
            <p style="font-weight: bold;">{{ pest[6] }}</p>
          </div>
          <div class="form-row">
            <label class="form-label">Impacts:</label>
            <p style="font-weight: bold;">{{ pest[7] }}</p>
          </div>
          <div class="form-row">
            <label class="form-label">Image:</label>
            <img src="data:image/{{ mime_type }};base64,{{ pest[8] }}" alt="Uploaded Image">
          </div>
        </div>
      </div>
    </div>
  </div>
  
    
  {% if session.get('role') == 'admin' or session.get('role') == 'staff' %}
  <div class="text-center">
    <a href="{{ url_for('edit_pest', pest_id=pest[0]) }}" class="btn btn-warning">Edit</a>
    <a href="{{ url_for('delete_pest', pest_id=pest[0]) }}" class="btn btn-danger">Delete</a>
  </div>
  {% endif %}
{% endblock %}